/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --blue: #2000e7;
  --font-size: 1rem;
}

body {
  margin: auto;
  font-family: Poppins, sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 1440px;
  width: 75%;
  background-color: #f8f8ec;
}

body > * {
  background-color: white;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

header,
.portfolio-section,
.about-me-section,
.my-projects-section {
  padding: calc(var(--font-size) * 3);
}

/* END GENERAL */

/* HEADER */
header {
  padding-top: 45px;
  justify-content: space-between;
}

.logo {
  color: #0e0578;
  font-size: calc(var(--font-size) * 3);
  font-weight: 700;
  text-decoration: none;
}

.header_links {
  padding: 0;
  margin: 0;
  align-items: center;
}

.header_links > li {
  color: #686565;
  font-size: calc(var(--font-size) * 1.5);
  font-weight: 400;
  list-style: none;
  margin: 0 50px;
  white-space: nowrap;
}

.header_links > li > a {
  text-decoration: none;
}

.header_links > li > a:hover {
  color: red;
}

.no-wrap {
  white-space: nowrap;
}

/* END HEADER */

/* MAIN */

main > * {
  justify-content: space-between;
}

.flex {
  display: flex;
}

.left-section,
.right-section {
  width: 50%;
}

.buttons {
  justify-content: space-around;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

  border-radius: 10px;
  box-shadow: 11px 21px 15px 6px rgba(0, 0, 0, 0.25);

  width: 40%;
  height: 72px;
  flex-shrink: 0;

  font-size: calc(var(--font-size) * 1.5);
}

.one-button {
  margin-left: 48px;
}

.button-blue {
  color: #fff;
  background: var(--blue);
}

.button-white {
  color: var(--blue);
  border: 2px solid var(--blue);
  background: rgba(32, 0, 231, 0.04);
}

/* END MAIN */

/* PORTFOLIO SECTION */

.portfolio-section {
  margin-top: 200px;
}

.portfolio-details > * {
  padding: 5px 0;
  margin-right: 50px;
}

.portfolio-image {
  margin-left: 50px;
  margin-right: 50px;
  width: 564px;
  height: 564px;
  border-radius: 0 0 0 200px;
  box-shadow: 36px -32px 0 0 rgba(135, 117, 249, 0.5);
  overflow: hidden;
}

.portfolio-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-welcome-message {
  color: var(--blue);
  font-size: calc(var(--font-size) * 1.75);
  font-weight: 400;
}

.portfolio-user-info,
.about-me-title,
.my-projects-title,
.contact-me-title {
  color: var(--blue);
  font-size: calc(var(--font-size) * 3);
  font-weight: 700;
}

.portfolio-user-info > span {
  color: #f2bd00;
}

.portfolio-description,
.about-me-description {
  padding-top: 10px;
  color: #383838;
  font-size: calc(var(--font-size) * 1.5);
}

/* END PORTFOLIO SECTION */

/* ABOUT ME */

.about-me-section {
  align-items: center;
}

.about-me-image,
.contact-me-image {
  width: auto;
  height: 900px;
  overflow: hidden;
}

.about-me-image img,
.contact-me-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* END ABOUT ME */

/* MY PROJECTS */

.my-projects-section {
  flex-direction: column;
  align-items: center;
  align-content: center;

  margin-top: 200px;
  margin-left: 0;
  margin-right: 0;

  padding-top: 50px;
  padding-bottom: 50px;

  height: 910px;
  background: rgba(255, 214, 150, 0.2);
}

.my-projects-description,
.contact-me-description {
  color: #000;
  font-size: 24px;
  font-weight: 400;
}

.my-projects-images {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: auto;
  width: 100%;
  column-gap: 100px;
}

.my-projects-images-row {
  justify-content: space-around;
  margin-bottom: 50px;
}

.my-projects-images-row:last-child {
  margin-bottom: 0;
}

.my-projects-images-row > img {
  width: 246px;
  height: 180px;
}

/* END MY PROJECTS */

/* CONTACT ME */

.contact-me-section {
  flex-direction: column;
  align-items: center;

  padding-top: 50px;

  background: rgba(67, 186, 253, 0.06);
}

.contact-me-title {
  letter-spacing: var(--font-size);
}

.contact-me-form-section {
  align-items: center;
}

.contact-me-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.email-input,
.password-input,
.message-input,
.contact-me-form-submit {
  width: 400px;

  margin: 20px 0;
  padding-left: 20px;

  color: black;
  font-size: var(--font-size);
  border: 0;
  background: #fff;
  box-shadow: 10px 10px 3px 0 rgba(0, 0, 0, 0.25);
}

.contact-me-form-submit {
  padding: 0;
  font-weight: bold;
}

.email-input:focus,
.email-input:hover,
.password-input:focus,
.password-input:hover,
.message-input:focus,
.message-input:hover,
.contact-me-form-submit:hover {
  outline: 3px solid black;
}

.email-input::placeholder,
.password-input::placeholder,
.message-input::placeholder {
  color: black;
}

.email-input,
.password-input,
.contact-me-form-submit {
  height: 50px;
}

.contact-me-form-submit {
  align-self: center;
  width: 50%;
}

.message-input {
  height: 150px;
  resize: none;
}

.message-input {
  padding-top: var(--font-size);
  font-family: Poppins, sans-serif;
}

.contact-me-image {
  width: 65%;
}

/* END CONTACT ME */

/* FOOTER */

footer {
  width: 100%;
  background-color: rgba(255, 214, 150, 0.2);
}

.footer-logo-subscribe {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-footer {
  font-size: calc(var(--font-size) * 5);
}

.footer-subscribe > input,
.footer-subscribe > button {
  padding: 0;
  margin-top: 20px;

  border-radius: 25px;
  border: 0;
  height: 75px;
}

.footer-subscribe {
  position: relative;
  right: 10px;
}

.footer-subscribe > input {
  padding-left: 50px;
  font-size: calc(var(--font-size) * 1.25);
  color: white;
  outline: none;
  width: 375px;

  z-index: -1;

  background: #000;
}

.footer-subscribe > input::placeholder {
  color: white;
  font-weight: bold;
}

.footer-subscribe > button {
  font-size: var(--font-size);

  position: absolute;
  right: -20px;
  width: 125px;
  background: #f965fc;
  color: white;
  font-weight: bold;
}

.no-wrap-li > li {
  white-space: nowrap;
}

.footer-information ul > li {
  padding: 10px;
}

.footer-information ul > li:first-child {
  font-weight: bold;
}

.footer-information-ul > li {
  font-size: var(--font-size);

  list-style: none;
}

.footer-information-ul > li > a {
  text-decoration: none;
  color: #000;
}

.footer-information-ul > li > a:hover {
  color: #8a8a8a;
}

footer > hr {
  width: 90%;
}

.footer-information,
.footer-copyright-links {
  justify-content: space-between;
  padding: 40px 40px;
}

.footer-copyright {
  white-space: nowrap;
  font-size: calc(var(--font-size) * 1.5);
}

.footer-socials {
  text-align: end;
}

.footer-socials > img {
  margin-left: 50px;
  width: 5%;
}

/* END FOOTER */
